html, body {
    margin: 0;
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    flex-direction: column;
    height: 100%;
    font-family: "Open Sans", sans-serif;
}

header {
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    flex: 0 0 60px;
    align-items: center;

    background-color: #f1f1f1;
    font-family: "Raleway", sans-serif;
    opacity: 0;
    animation: appear 1s ease-in .2s 1;
    animation-fill-mode: forwards;
}

header > h1 {
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    justify-content: space-between;
    align-items: center;
    margin: 14px;
    font-weight: 400;
}

header > h1,i {
    padding: 7px;
}

ul {
    display: flex;
    flex: 1 1 auto;
    margin: 0;
    padding: 20px;
    width: 75%;
    align-items: center;
    justify-content: flex-end;

    list-style-type: none;
}

li {
    padding: 0px 12px 0px 12px;
    color: #000;
    text-decoration: none;
}

/* Absurdamente importante poner los pseudoclasses en ORDEN */
li:visited {}
li:hover{
    color: orange;
    cursor: default;
}

.title {
    padding: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    opacity: 0;
    animation: appear 1s ease-in .2s 1;
    animation-fill-mode: forwards;
}

.terminal {
    animation: slide 1s ease-in-out 1.4s 1;
    animation-fill-mode: forwards;
}

#name {
    animation: appear 1s ease-in 0s 1;
    animation-fill-mode: forwards;
}

/* Animations */
@keyframes slide {
    from {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    to {
        -webkit-transform: translateX(180px);
        -ms-transform: translateX(180px);
        transform: translateX(180px);
    }
}

@keyframes appear {
    from {
        -webkit-opacity: 0;
        -ms-opacity: 0;
        opacity: 0;
    }
    to {
        -webkit-opacity: 1;
        -ms-opacity: 1;
        opacity: 1;
    }
}
