html, body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Open Sans", sans-serif;
}

header {
    display: flex;
    flex: 0 0 60px;
    align-items: center;

    background-color: #f1f1f1;
    font-family: "Raleway", sans-serif;
}

header > h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 14px;
    font-weight: 400;
}

header > h1,i {
    padding: 7px;
}

ul {
    display: flex;
    margin: 0;
    padding: 20px;
    width: 75%;
    align-items: center;
    justify-content: flex-end;

    list-style-type: none;
    overflow: auto;
}

li {
    padding: 0px 12px 0px 12px;
    color: #000;
    text-decoration: none;
}

li:hover{
    color: orange;
    cursor: default;
}
